In [76]:
#import all the packages 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [77]:
# load the data
df = pd.read_csv("data_regression.csv")
df

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [78]:
# checking the missing values 
df.isnull().sum()

year                       0
customer_id                0
phone_no                   0
gender                    24
age                        0
no_of_days_subscribed      0
multi_screen               0
mail_subscribed            0
weekly_mins_watched        0
minimum_daily_mins         0
maximum_daily_mins         0
weekly_max_night_mins      0
videos_watched             0
maximum_days_inactive     28
customer_support_calls     0
churn                     35
dtype: int64

In [79]:
# we drop misiing values bcz there is very less missing values in it 
df.dropna(inplace=True)
df.reset_index(inplace=True)

In [80]:
df.isnull().sum()

index                     0
year                      0
customer_id               0
phone_no                  0
gender                    0
age                       0
no_of_days_subscribed     0
multi_screen              0
mail_subscribed           0
weekly_mins_watched       0
minimum_daily_mins        0
maximum_daily_mins        0
weekly_max_night_mins     0
videos_watched            0
maximum_days_inactive     0
customer_support_calls    0
churn                     0
dtype: int64

In [81]:
# checking the dtypes 
df.dtypes

index                       int64
year                        int64
customer_id                 int64
phone_no                   object
gender                     object
age                         int64
no_of_days_subscribed       int64
multi_screen               object
mail_subscribed            object
weekly_mins_watched       float64
minimum_daily_mins        float64
maximum_daily_mins        float64
weekly_max_night_mins       int64
videos_watched              int64
maximum_days_inactive     float64
customer_support_calls      int64
churn                     float64
dtype: object

In [82]:
# numerical columns
num_cols = df.select_dtypes(exclude='object').columns

In [83]:
# categorical column
cat_cols = df.select_dtypes(include='object').columns
cat_cols

Index(['phone_no', 'gender', 'multi_screen', 'mail_subscribed'], dtype='object')

In [84]:
df['churn']=df['churn'].astype('int')

In [85]:
df

,index,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0
1,1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0
2,2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1
3,3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0
4,4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,1990,2015,993714,364-1969,Male,32,61,no,no,67.50,9.8,7.65,94,6,3.0,2,0
1914,1991,2015,993815,387-5891,Male,49,50,yes,yes,460.65,8.0,52.21,109,3,3.0,0,0
1915,1992,2015,994954,329-3222,Female,42,119,no,yes,176.70,7.6,20.03,76,3,3.0,3,0
1916,1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0
1917,1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1

In [86]:
df.head(2)

,index,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0
1,1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0

In [87]:
# Drop the unwanted columns
col_list = ['index','year','customer_id','phone_no',]
df.drop(columns=col_list,inplace=True)

In [88]:
#use label encoder for converting categorical values into numrical
from sklearn.preprocessing import LabelEncoder
cat_cols = df.select_dtypes(include="object").columns.to_list()
df[cat_cols]=df[cat_cols].apply(LabelEncoder().fit_transform)

In [89]:
df

,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,0,36,62,0,0,148.35,12.2,16.81,82,1,4.0,1,0
1,0,39,149,0,0,294.45,7.7,33.37,87,3,3.0,2,0
2,0,65,126,0,0,87.30,11.9,9.89,91,1,4.0,5,1
3,0,24,131,0,1,321.30,9.5,36.41,102,4,3.0,3,0
4,0,40,191,0,0,243.00,10.9,27.54,83,7,3.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,1,32,61,0,0,67.50,9.8,7.65,94,6,3.0,2,0
1914,1,49,50,1,1,460.65,8.0,52.21,109,3,3.0,0,0
1915,0,42,119,0,1,176.70,7.6,20.03,76,3,3.0,3,0
1916,1,45,127,0,0,273.45,9.3,30.99,116,3,3.0,1,0
1917,1,37,73,0,0,326.70,10.3,37.03,89,6,3.0,1,1

In [90]:
df.to_csv("churn_label.csv",index=False)

In [91]:
# Perform the ML Decision tree ,Logistic regression ,KNN and Random forest  with out hyper parameter tuning

In [92]:
# standardize and normalize the data 
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [93]:
# standardize the data 

# scaler = StandardScaler()
# cols_to_standarize = df.columns[:-1]
# scaler.fit(df[cols_to_standarize])
# # df[cols_to_standarize] = df[cols_to_standarize].apply(lambda x: (x - x.mean()) / x.std())
# df[cols_to_standarize] = scaler.transform(df[cols_to_standarize])

In [94]:
# df.head(2)

In [95]:
# df.to_csv('churn_standard.csv',index=False)

In [97]:
df.head(2)

,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,0,36,62,0,0,148.35,12.2,16.81,82,1,4.0,1,0
1,0,39,149,0,0,294.45,7.7,33.37,87,3,3.0,2,0

In [99]:
# normalize the data 

normal = MinMaxScaler()
cols_to_normalize = df.columns[:-1]
normal.fit(df[cols_to_normalize])
df[cols_to_normalize] = normal.transform(df[cols_to_normalize])

In [100]:
df.head(2)

,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,0.0,0.281250,0.252066,0.0,0.0,0.281927,0.610,0.281858,0.300752,0.052632,0.666667,0.111111,0
1,0.0,0.328125,0.611570,0.0,0.0,0.559578,0.385,0.559524,0.338346,0.157895,0.500000,0.222222,0

In [101]:
df.to_csv("churn_normal.csv",index=False)